@import "tailwindcss";

@layer components {
    td {
        @apply border-[10px] border-amber-950 text-center align-middle 
        font-bold overflow-hidden whitespace-nowrap text-ellipsis 
        box-border w-1/3 h-1/3 leading-none;
        
        font-size: 6vw;
    }
}